
<section class="page__first-section">

    <!-- Anchor -->

    <div id="first-section-anchor" class="anchor">.</div>

    <div class="page__wrapper--first-section">
        <div class="first-section__wrapper--text">
            <p class="mini-title"> Insomnia tips</p>

            <h2 class="section__main-title">Looking through a window</h2>

            <p class="section__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In laboriosam tempora voluptas dolore, dolores aliquid quaerat.</p>

        </div>

        <div class="section__link--wrapper">
                <a class="link" href="">
                    Go
                </a>
            </div>
        


    </div>

    
</section>