
<footer class="page__footer">

    <div class="page__footer--wrapper">

        <!-- arrow link -->

        <div class="footer__link--wrapper">
            <a class="up-arrow__wrapper" href="">
                <img class="up-arrow" src="/assets/images/ico-arrow.svg" alt="Link to the first section">
            </a>
        </div>

        <!-- textos -->

        <div class="footer__span--wrapper">
            <span class="footer__span">©2018</span>
            <span class="footer__span">We <span class="❤︎">❤︎</span> components</span>

        </div>



    </div>

</footer>
