<header class="page__header">

     <!-- Anchor -->

     <div id="header-anchor" class="anchor">.</div>

     
    <div class="page__wrapper">

        <div class="header__menu-button--wrapper">
            <button class="menu-button">
                <img class="menu-image" src="assets/images/ico-menu.svg" alt="Menu Button"/>
            </button>
        </div>

        <div class="header__text--wrapper">
            <div class="titles">
                <h1 class="header__title">Anonymous</h1>
                <h1 class="header__title">proxy</h1>
            </div>

            <div class="text">
                <p class="header__text">In hac habitasse platea dictumst</p>
            </div>

        </div>

        <div class="header__link--wrapper">
            <a class="arrow__wrapper" href="#first-section-anchor">
                <img class="arrow" src="assets/images/ico-scroll-down.svg" alt="Link for section">
            </a>
        </div>


    </div>


</header>
