<header class="page__hero">

     <!-- Anchor -->

     <div id="hero-anchor" class="anchor">.</div>

     
    <div class="page__hero--wrapper">

        <!-- <div class="header__menu-button--wrapper">
            <button class="menu-button">
                <img class="menu-image" src="assets/images/ico-menu.svg" alt="Menu Button"/>
            </button>
        </div> -->

        <div class="hero__text--wrapper">
            <div class="titles">
                <h1 class="hero__title">Anonymous</h1>
                <h1 class="hero__title">proxy</h1>
            </div>

            <div class="text">
                <p class="hero__text">In hac habitasse platea dictumst</p>
            </div>

        </div>

        <a class="arrow__wrapper" href="#first-section-anchor">

            <div class="hero__link--wrapper">
            
                <img class="arrow" src="assets/images/ico-scroll-down.svg" alt="Link for section">
            
            </div>
        </a>


    </div>


</header>
