
<section class="page__second-section">

    <div class="page__wrapper--second-section">

        
        <h2 class="section__main-title">3 reasons to purchase</h2>

        <!-- cards -->

        <div class="cards__wrapper">

            <div class="second-section__card">
            
                <h3 class="card__title">Ut sed metus</h3>

                <p class="section__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In laboriosam</p>

            </div>

            <div class="second-section__card">
            
                <h3 class="card__title">Ut sed metus</h3>
    
                <p class="section__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            </div>

            <div class="second-section__card">
            
                <h3 class="card__title">Ut sed metus</h3>
    
                <p class="section__text">In laboriosam tempora voluptas dolore, dolores aliquid quaerat.</p>
    
            </div>
        </div>

        <!-- button -->

        <div class="section__button--wrapper">
            <button type="button" class="section-button">More reasons</button>
        </div>
        

    </div>

    
</section>