
<section class="page__second-section">

    <div class="page__wrapper--second-section">

        
        <h2 class="section__main-title">3 reasons to purchase</h2>

        <!-- cards -->

        <ul class="cards__wrapper">

            <li class="cards__element">
                <div class="second-section__card">
            
                    <h3 class="card__title">Ut sed metus</h3>
            
                    <p class="section__text card__text">Lorem ipsum dolor sit amet, consectetur.</p>
            
                </div>
            </li>


            <li class="cards__element">
                <div class="second-section__card ">
            
                    <h3 class="card__title">Ut sed metus</h3>
                
                    <p class="section__text card__text">Mauris mattis urna quis lorem molestie.</p>
                
                </div>

            </li>

            <li class="cards__element">
                <div class="second-section__card">
            
                    <h3 class="card__title">Ut sed metus</h3>
                
                    <p class="section__text card__text">Aliquaum in dolor et dolor tincidunt.</p>
                
                </div>

            </li>

            
        </ul>

        <!-- button -->

        <div class="section__button--wrapper">
            <button type="button" class="section-button">More reasons</button>
        </div>
        

    </div>

    
</section>