.page__header {
    // background-color: yellowgreen;
   
    min-height: 100vh;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.page__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.header__menu-button--wrapper {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-button {
    border: 0;
    padding: 0;
}

.header__text--wrapper {
    /*Duda: este tipo de paddings, ¿es mejor ponerlos con unidades realtivas o con px fijos?*/
    margin-bottom: 10%;

}

.header__link--wrapper {
    margin-bottom: 10%;
}


/* Menu-button styles */
