

/******************************/
/****** VARIABLES HEADER ******/
/******************************/

$blue: #0271bc;
$white: #ffffff;
$text-color: #ffffff;
$text-font-title: 'Roboto Slab';
$text-font: 'Roboto';


/*************************************/
/****** VARIABLES FIRST SECTION ******/
/*************************************/

$white: #ffffff;
$mint: #98ff98;
$text-color-section: #000;
$text-color-mini-title: #8ccbea;
$text-font-title: 'Roboto Slab';
$text-font: 'Roboto';
$button-color: #f26002;


/**************************************/
/****** VARIABLES SECOND SECTION ******/
/**************************************/


$white: #ffffff;
$light-blue: #eff9ff;
$text-font-title: 'Roboto Slab';
$text-font: 'Roboto';
$button-color: #f26002;
$button-hover-color: #fbc299;
$button-hover-line-color: orangered;



/******************************/
/****** VARIABLES FOOTER ******/
/******************************/

$dark-blue: #304268;
$white: #ffffff;
$light-blue: #eff9ff;
$text-font: 'Roboto';
$button-color: #f26002;