

/********************/
/****** COLORS ******/
/********************/

$white: #ffffff;
$blue: #0271bc;
$light-blue: #eff9ff;
$dark-blue: #304268;
$mint: #98ff98;


/*************************/
/****** FONT FAMILY ******/
/*************************/

$text-font: 'Roboto';
$text-font-title: 'Roboto Slab';


/************************/
/****** FONT COLOR ******/
/************************/

$text-color: #ffffff;
$text-color-section: #000;
$text-color-mini-title: #8ccbea;


/***************************/
/****** BUTTON COLORS ******/
/***************************/

$button-color: #f26002;
$button-hover-color: #fbc299;
$button-hover-line-color: orangered;
